@import "reset.css";

html {
    --user-card-height: 400px;
    --user-card-width: 250px;
    box-sizing: border-box;
}
body{
    background: #82988a;
    display: flex;
    justify-content: center;
    align-items: center ;
    min-height: 100vh;
    flex-direction: row;
}

.userCard {
    height: var(--user-card-height);
    width: var(--user-card-width);
    border-radius: 14px;
    overflow: hidden;

}

.userCard > * {
    display: block;
}
.userCardHeader {
    width: var(--user-card-width);
    height: 100px;
    background: #56506f;

}
.userCardCenter {
    width: var(--user-card-width);
    height: 100px;
    background: #f2f2f2;

}
.userImageContainer {
    height: 150px;
    width: 150px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -175px;
    border: 3px solid white;
    box-sizing: border-box;





}
.userImageContainer > img {
    height: 150px;
    width: 150px;
    object-fit: cover;



}

.userInfoContainer {
    width: var(--user-card-width);
    background: #f2f2f2;
    font-family: sans-serif;
    height: 175px;
    box-sizing: border-box;
    border-bottom: 2px #b9b9b9 solid;




}
.userFullName {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    color: #56506f;

}
.userProfession {
    text-align: center;
    color: #56506f;
}


.userInfoContainer > p {

    padding: 12px;
    text-align: center;
    line-height: 150%;
    font-weight: bold;
    font-size: 12px;

}
.userCardFooter {
    display: flex;
    width: var(--user-card-width);
    background: #f2f2f2;
    height: 50px;
    box-sizing: border-box;
    flex-direction: row;


}
.halfFooterLeft {
    display: inline-block;
    width: 50%;
    background: #f2f2f2;
    padding-top: 5px;
    height: 50px;
    box-sizing: border-box;
    border-right: 1px #b9b9b9 solid;
}
.halfFooterRight {
    display: inline-block;
    width: 50%;
    background: #f2f2f2;
    padding-top: 5px;

    height: 50px;
    box-sizing: border-box;
    border-left: 1px #b9b9b9 solid;

}
.imageFooter {
    background: #f2f2f2;
    display: block;
    align-self:center;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

}
.imageFooter > img {
      display: block;
    margin: 0 auto;
    opacity: 0.30;

}

