@import "reset.css";

html {
    --user-card-height: 400px;
    --user-card-width: 250px;
    box-sizing: border-box;
}
body{
    background: #82988a;
    display: flex;
    justify-content: center;
    align-items: center ;
    min-height: 100vh;
}

.userCard {
    height: var(--user-card-height);
    width: var(--user-card-width);
    border-radius: 14px;
    overflow: hidden;

}

.userCard > * {
    display: block;
}
.userCardHeader {
    width: var(--user-card-width);
    height: 100px;
    background: #56506f;
    /*margin-bottom: -75px;*/

}
.userCardCenter {
    width: var(--user-card-width);
    height: 100px;
    background: #f2f2f2;
    /*margin-bottom: -75px;*/

}
.userImageContainer {
    height: 150px;
    width: 150px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -175px;
    border: 3px solid white;
    box-sizing: border-box;




}
.userImageContainer > img {
    height: inherit;
    width: inherit;
    object-fit: cover;
    border-radius: 50%;

}

.userInfoContainer {
    width: var(--user-card-width);
    background: #f2f2f2;
    font-family: sans-serif;
    height: 175px;



}
.userFullName {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    color: #56506f;

}
.userProfession {
    text-align: center;
    color: #56506f;
}


.userInfoContainer > p {

padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;

}
.userCardFooter {
    width: var(--user-card-width);
    background: #f2f2f2;
    height: 50px;
}
.imageFooter {
    display: inline;
}